.room-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px 0;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color:blue;
}

.room-card-id,
.room-card-date,
.room-card-time,
.room-card-map,
.room-card-prize,
.room-card-winners,
.room-card-ticket {
    margin: 0;
    font-size: 14px;
}

.room-card-timings,
.room-card-prizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.room-card-btn button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
}

.room-card-btn button:hover {
    background-color: #0056b3;
}

@media (max-width: 500px) {
    .room-card {
        padding: 15px;
    }

    .room-card-timings,
    .room-card-prizes {
        flex-direction: column;
    }

    .room-card-btn button {
        padding: 8px 15px;
    }
}
