/* Navbar CSS */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.navbar {
    background-color: #0A0C24;
    padding: 0.5rem 1rem;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: -10px;
}

.logo-image {
    width: 300px;
    height: auto;
}

.navbar-nav {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.nav-link {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;

}

.navbar-profile {
    position: relative;
    margin:30px;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightblue;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid blue;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: blue;

  }
