.navbar #active{

        padding-bottom: 2px;
        border-bottom: 2px solid #49557e;
    
}

.navbar li {
    cursor: pointer;
}

.navbar-profile {
    position: relative;
    margin:30px;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightblue;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid blue;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: blue;
}
