.registration-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .registration-room {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .registration-room-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
  }
  
  .registration-item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .registration-item p {
    margin: 5px 0;
    color: #555;
  }
  
  .registration-item p strong {
    color: #000;
  }
  
  .team-members-list {
    margin-left: 20px;
  }
  
  @media (min-width: 600px) {
    .registration-room {
      width: 48%;
    }
  }
  
  @media (min-width: 900px) {
    .registration-room {
      width: 32%;
    }
  }
  